<mat-card>
    <div class="consent-container">
        <form (ngSubmit)="onSubmit($event)" action="{{redirectUri}}" method="post" name="consentForm">
            <p>The application {{clientName}} needs to access the following rights:
                {{requestedScope}}
            </p>
            <input name="consent_challenge" type="hidden" value="{{challenge}}">
            <input name="authorized_scope" type="hidden" value="{{requestedScope}}">
            <button mat-button type="submit">Authorize</button>
        </form>
    </div>
</mat-card>
