<mat-card>
    <div class="login-container">
        <form (ngSubmit)="onSubmit($event)" action="{{redirectUri}}" method="post" name="loginForm">
            <mat-form-field>
                <input matInput name="email" placeholder="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="password" placeholder="Password" type="password">
            </mat-form-field>
            <input name="login_challenge" type="hidden" value="{{challenge}}">
            <button mat-button type="submit">Submit</button>
        </form>
    </div>
</mat-card>
