.footer {
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.main-container {
  text-align: center;
}

.main-container h1 {
  margin-left: 100px;
  text-align: left;
  color: white;
}

a {
  margin: 10px;
}
