mat-card {
    width: 30%;
    margin: auto;
}

button {
    margin: 10px;
}

mat-card-actions, mat-card-content {
    padding: 20px;
    border-top: 1px solid gray;
}

mat-card-content {
    text-align: left;
}
