<mat-card>
    <mat-card-title>
        <div *ngIf="name">
            <h2>Welcome, {{name}}!</h2>
        </div>
        <div *ngIf="!email">
            <h2>You need to login in order to access that page</h2>
        </div>
    </mat-card-title>
    <mat-card-content>
        <h2>Customer details</h2>
        <div *ngIf="email">
            <strong>email</strong>: {{email}}
        </div>
        <div *ngIf="phone">
            <strong>phone</strong>: {{phone}}
        </div>
        <div *ngIf="company">
            <strong>company</strong>: {{company}}
        </div>
        <div *ngIf="email">
            <h2>links you can access</h2>
            <a mat-raised-button routerLink="/search">Search</a>
        </div>
        <div *ngIf="!email">
            <p>Nothing to show yet</p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="email">
            <button (click)="logout()" mat-raised-button>Logout</button>
        </div>
        <div *ngIf="!email">
            <button (click)="login()" mat-raised-button>Login</button>
        </div>
    </mat-card-actions>
</mat-card>
